* {
    font-style: Poppins;
}

.Navigation {
    display: flex;
    justify-content: space-between;
}

.list {
    display: inline;
    font-size: large;
    margin: 0 20px;
}

.bur {
    display: inline;
    font-size: 30px;
}

body {
    /* margin-left: 300px;
    margin-right:  */
    padding-top: 30px;
    padding-right: 100px;
    font-family: Poppins;
    overflow: auto;
    width: 70%;
    margin: auto;
}

a:hover {
    color: red;
}

.intro {
    display: flex;
    justify-content: space-evenly;
}

.description {
    margin-top: 10rem;
    margin-right: 15rem;
}

.image1 {
    /* background-color: chartreuse; */
    background-clip: calc(40 50);
    background-size: cont;
}

.about {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: #E1EBE6;
    padding: 100px 0;
}


/* .Q1 {
    border: 1px solid;
    padding: 0 20px;
    float: right;
} */

#order_button {
    background-color: #F6B400;
    padding: 20px;
    text-transform: capitalize;
    border-radius: 30px 30px 0 30px;
    border: #F6B400;
}

.quality {
    border: 1px solid black;
    margin: 10px;
    padding: 50px 20px;
    border-radius: 30px 30px;
}